<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-disabled="saveInProgress" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit: {{dashboard.name}}</h4>
            </div>
            <div class="modal-body">
                <p>
                    <input type="text" class="form-control" placeholder="Dashboard Name" ng-model="dashboard.name">
                </p>

                <div class="form-group">
                    <label>Location</label>
                      <ui-select sortable="true" close-on-select="false" ng-model="$parent.dashboard.country" ng-disabled="disabled" style="width: 300px;" required>
                        <ui-select-match placeholder="Select area...">{{$item.code}} - {{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="area in (areas) | filter: $select.search">
                          <small ng-bind-html="area.code | trustAsHtml"></small>
                          <span ng-bind-html="area.name | trustAsHtml"></span>
                        </ui-select-choices>
                      </ui-select>
                </div>
                <div class="gridster">
                    <ul></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-disabled="saveInProgress" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="saveInProgress" ng-click="saveDashboard()">Save</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
